body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5; /*Interlineado*/
    background-color: #f4f4f9;
}

header{
    background-color: #333;
    padding: 10px 0;
}

nav{
    text-align: center;
}

ul{
    list-style-type: none; /*Le quita las viñetas*/
    margin: 0;
    padding: 0;

}

li{
    display: inline;
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 5px ;
    border-radius: 5px;

}

nav a:hover {
    color: #ffcc00;
    background-color: black;

}

section{
    padding: 25px;
    margin: 40px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

section h2{
    color: #555;
    font-size: 24px;
    margin-bottom: 15px;
}

section p{
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}

section img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #7c7c7c;
}

section a{
    display: inline-block; /*Comportamiento de boton*/
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;

}

section a:hover{
    background-color: #155f25;
}

h1{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}