body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #f4f4f9;
}

header{
    background-color: #333;
    padding: 10px 0px;
}

header nav{
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px 5px;
}
nav a:hover{
    color: #ffcc00;
    background-color: black;
}

.hero{
    background-image: url(hero.png); /*Colocar la imagen*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
    color: white;
    padding-top: 150px;
    text-align: center;

}

.hero-content{
    background: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 40px 40px;
    border-radius: 10px;
}
.hero h1{
    font-size: 36px;
    margin-bottom: 15px;
    
}
.hero p{
    font-size: 18px;
    margin-bottom: 50px;
}

section{
    padding: 25px;
    margin: 40px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1)
}

section img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #7c7c7c;
    display: block;
    margin: 0 auto;
   
}

.center-content{
    text-align: center;
}

section a{
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

section a:hover{
    background-color: #155f25;
    cursor: pointer;
}